$orange         : #BD3613;
$blue           : #2176C7;

$font-primary: Lato, sans-serif;
$font-secondary: Oswald, serif;

$color-primary: #BF8261;
$color-secondary: #71A654;
$color-tertiary: #445F7C;

$color-action: darken(#f00, 17.5);

$color-black: #000;
$color-white: #fff;

$default-border-radius : 10px;