@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";
@import "headings";
@import "navbar";

#wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #efefef;
}

#call-to-action {

  background-color: $color-action;

  width: auto;
  height: auto;

  display: inline-block;
  padding: 10px 10px;

  border-style: solid;
  border-width: 1px;
}

#call-to-action:hover {

  cursor: pointer;
}

#call-to-action h2 {

  color: $color-white;
}


#call-to-action h2:hover {

  color: $color-white;
  text-decoration: underline;
}

.inline {

  display: inline;
}

.inline li {

  display: inline;
  padding: 20px;
}

.inline li:hover {
  
  text-decoration: underline;
}

article {

  padding: 20px 20px;
}

@mixin img-circular($radius) {
  width: $radius * 2;
  height: $radius * 2;
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circular {

  @include img-circular(200px);
}

article.half {

  float: left;
 
  left: 0 px;
  width: 50%;
  height: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
}

.padded {
  padding: 50px 200px;
}

#hero {
  width: 200px;
  height: 200px;
  padding: 50px;
}

.title {
  text-align: center;
}

header, section, footer,
aside, nav, article, figure {
  display: block;
}

.content {
  text-align: center;
  align: center;
  width: 100%;
}

section#home {

  background: url('../images/forest_bw.jpg') no-repeat center center fixed;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 100vh;
}

div#home {
  min-height: 80vh;
}

section#products {
  //background-color: lighten($color-secondary, 30);
  min-height: 90vh;
}

section#social {
  padding: 50px;
}